/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
	background-color: #5472ae; /*MODIF DU RESET ICI*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------------------------/*

/* DISPLAY PROPERTIES */

.d-flex{display:flex;}

/* ------------------------------------------------------------------------------------------/*

/* FLEX PROPERTIES */

.jc-center{justify-content:center;}
.jc-space-between{justify-content:space-between;}
.jc-space-around{justify-content:space-around;}
.flex-column{flex-direction:column;}
.flex-row{flex-direction:row;}
.align-items-center{align-items:center;}
.flex-wrap{flex-wrap: wrap;}

/* ------------------------------------------------------------------------------------------/*


/* COLORS */
.color-white{color: #fff;}
.color-gray{color:#B0B0B0;-moz-transition: color 0.4s; transition: color 0.4s;}
/* ------------------------------------------------------------------------------------------/*


/* BACKGROUNDS*/
.dossier{background:url("images/dossier.jpg")}
.fichier{background:url("images/fichier.jpg")}
.image{background:url("images/image.jpg")}
.bg-black{background-color: black;}
/* ------------------------------------------------------------------------------------------/*


/* FONTS && FONT-SIZES*/
.fs-24{font-size:24px;}
.fs-18{font-size:18px;}
.fs-60{font-size: 60px;transition: all 0.4s}
h1{font-size: 60px;}

.montserrat{font-family: 'Montserrat';}
.roboto{font-family: 'Roboto', sans-serif;}

/* TEXT */
.text-align-center{text-align:center;}
.word-break{word-break: break-all;}
/* ------------------------------------------------------------------------------------------/*


/* WIDTH & HEIGHT */
.h80pct{height: 80%;}
.h100vh{min-height: 100vh;}
.w100pct{width:100%;}
.w70pct{width: 70%;}
.w80pct{width: 80%;}
.w20pct{width: 20%;}
.h30pct{height: 30%;}
.h100pct{height:100%;}
.h100{height: 100px;}
/* ------------------------------------------------------------------------------------------/*

/* MARGIN & PADDING */
.p15px{padding: 15px;}
.pl15px{padding-left: 15px;}
.mt5px{margin-top: 5px;}
.pt5px{padding-top: 5px;}
/* ------------------------------------------------------------------------------------------*/

a{
	text-decoration: none;
	outline: none;
	color: #fff;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	transform: scale(0.9);
}
a:hover{
	transform: scale(1);
	border: 1px solid #5472ae;
	background-color: rgba(0, 0, 0, 0.2);
}
a:hover .fs-60{font-size: 100px;}

i:hover{color:#FFF;}